	<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--

   OATest.plist

   OATest



   Created by 郎烨 on 17/8/23.

   Copyright (c) 2017年 1. All rights reserved.

-->
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://www.itouyun.com/ios/OAProduct.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://www.itouyun.com/ios/image.512x512.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://www.itouyun.com/ios/image.57x57.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.NuoXinGroup.OAProject</string>
                <key>bundle-version</key>
                <string>3.1</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>移动办公系统</string>
                <key>title</key>
                <string>口袋诺诺</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
